@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://ichef.bbci.co.uk/news/1024/branded_mundo/1728D/production/_109616849_joker01.jpg" alt="Alternate Text" />
</div>
